body {
    margin: 0;
    font-family: 'Ubuntu-Regular';
    background: #000;
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    p {
        margin: 0 0 gr(10) 0;
    }
    img{
        max-width: 100%;
        height: auto;
    } 
}