.component-characters {
    .character {
        margin-top: gr(50);
        margin-bottom: gr(40);
        .searching {
            color: #fff;
            margin-bottom: gr(25);
            font-size: gr(23);
            transition: all linear 0.3s;
        }
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: 0;
            .page-item {
                padding: 0 gr(10);
                color: #fff;
                .page-link {
                    color: #fff;
                    cursor: pointer;
                }
                &.active .page-link {
                    text-decoration: underline;
                    color: $alive;
                }
            }
        }
        .header-content {
            display: flex;
            justify-content: space-between;
            margin-bottom: gr(40);
            transition: all linear 0.3s;
            @media (max-width: 768px) {
                flex-wrap: wrap;
            }
            h1 {
                font-size: gr(30);
                font-weight: bold;
                color: #fff;
                @media (max-width: 768px) {
                    margin-right: gr(10);
                    margin-bottom: gr(20);
                }
            }
            .box-filters {
                display: flex;
                align-items: center;
                color: #fff;
                @media (max-width: 575px) {
                    flex-wrap: wrap;
                    width: 100%;
                }
                .filters {
                    display: flex;
                    margin-left: gr(20);
                    @media (max-width: 575px) {
                        flex-wrap: wrap;
                        margin-top: gr(15);
                        margin-left: 0;
                        width: 100%;
                    }
                    .filter {
                        padding: gr(10) gr(25);
                        margin: 0 gr(8);
                        width: gr(90);
                        text-align: center;
                        border: 1px solid #fff;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all linear 0.3s;
                        @media (max-width: 480px) {
                            width: 100%;
                            margin-bottom: gr(10);
                        }
                        &.alive {
                            border-color: $alive;
                            color: $alive;
                            &:hover {
                                background: $alive;
                                color: #fff;
                            }
                            &.active {
                                background: $alive;
                                color: #fff;
                            }
                        }
                        &.deceased {
                            border-color: $dead;
                            color: $dead;
                            &:hover {
                                background: $dead;
                                color: #fff;
                            }
                            &.active {
                                background: $dead;
                                color: #fff;
                            }
                        }
                        &.all {
                            color: #fff;
                            &:hover {
                                background: #fff;
                                color: #000;
                            }
                            &.active {
                                background: #fff;
                                color: #000
                            }
                        }
                    }
                }
            }
        }
        .content {
            .box-characters {
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
                .card-character {
                    position: relative;
                    flex: 0 24%;
                    width: 24%;
                    height: gr(400);
                    overflow: hidden;
                    margin-bottom: gr(20);
                    margin: 0 5px 20px 5px;
                    @media (max-width: 992px) {
                        flex: 0 32%;
                        width: 32%;
                        margin: 0 5px 30px 5px;
                    }
                    @media (max-width: 768px) {
                        flex: 0 48%;
                        width: 48%;
                        margin: 0 5px 30px 5px;
                    }
                    @media (max-width: 520px) {
                        flex: 0 100%;
                        width: 100%;
                        height: gr(480);
                        margin: 0 7px 30px 7px;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    .box-info {
                        color: #fff;
                        position: absolute;
                        bottom: 0;
                        padding: 0px 15px 5px 15px;
                        box-shadow:         inset 0px -75px 50px -10px rgba(0, 0, 0, 0.9);
                        width: 100%;
                        .birthday {
                            font-size: gr(14);
                        }
                        .occupation {
                            font-size: gr(13);
                        }
                    }
                    .status {
                        padding: gr(10) gr(30);
                        position: absolute;
                        top: gr(20);
                        right: 0;
                        font-size: gr(20);
                        width: gr(80);
                        text-align: center;
                        &.alive {
                            background:$alive;
                            color: #fff;
                        }
                        &.deceased {
                            background:$dead;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}